@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Podkova&family=Poppins&display=swap');

*{
  margin: 0;padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.marginrl {
  margin-right: 11rem;
  margin-left: 11rem;
}

.paddingrl {
  padding-left: 11rem;
  padding-right: 11rem;
}


.margintop{
  margin-top: 18rem;
}

.mediummargintop{
  margin-top: 8rem;
}

.smallmargintop{
  margin-top: 2rem;
}


$white:white;
$black:black;
$grey: rgb(54, 52, 77);
$greyshadow:rgb(102, 94, 94);
$purple:#6610f2;
$darkpurple:#2F1C6A;





header{
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $white;
  @include flexbetween();
  padding: 0 12rem;
  padding-top: .9rem;
  box-shadow: 0 0 .1rem $greyshadow;
}

  .navdiv1{
    width: 20rem;
  }

  .navdiv2{
    @include flexbetween();
    list-style: none;
    font-size: 1.8rem;

    

    .navdiv2links{
      margin: 0 2rem;
      @include flexcenter();
      cursor: pointer;
      color: $grey;
      position: relative;
      font-weight: bold;
      // background-color: rebeccapurple;
      padding-bottom: 1rem;
      

      &:hover{
        color: $purple;
       
      }

      &:hover::before{
        content: '';
        position: absolute;
        padding-left: .5rem;
        top: 1.7%;
        left: -.8rem;
        height: 70%;
        width: 100%;
        border-left: .2rem solid $purple;
      }

      .navarrow{
        font-size: 2.5rem;
        // background-color: red;
      }

      ul{
        position: absolute;
        top: 100%;
        left: 0%;
        list-style: none;
        white-space: nowrap;
        box-shadow: 0px 0px 2px $greyshadow;
        padding: 1rem 1rem;
        border-radius: .5rem;
        background-color: $white;

        li{
          cursor: pointer;
      color: $grey;
      @include flexbetween();
      font-size: 2rem;
      white-space: nowrap;
      // box-shadow: 0px 1px 1px $greyshadow;
      border-bottom: 1px solid $greyshadow;
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 2rem;
      transition: all .2s linear;

        &:hover{
          color: $purple;
          scale: 1.02;
        }
      }

      }

    }


    .login{
      margin: 0 2rem;
      transform: translateY(-11%);
      padding: .4rem 1.5rem;
      color: $white;
      // box-shadow: 0px 0px 2px $greyshadow;
      box-shadow: 1px 2px 3px $greyshadow;
      border-radius: 1.4rem;
      font-size: 1.6rem;
      text-transform: capitalize;
      font-weight: 600;
      color: rgb(87, 84, 84);

      &::hover{
        border-left: none;
      }

      .navarrow{
        margin-right: .6rem;
      }

    }


    .cart{
      position: relative;

      .navarrow{
        font-size: 3rem;
        margin-right: .5rem;
      }

      .cartcount{
        position: absolute;
        top: -10%;
        left: 20%;
        text-align: center;
        line-height: 190%;
        background-color: red;
        color: $white;
        font-size: 1rem;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
      }

    }

  }






  .login{
    @include flexbetween();
    padding: .4rem 2rem;
    border: none;
    box-shadow: 1px 2px 3px $greyshadow;
    border-radius: 1.4rem;
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 600;
    color: $grey;

    .navarrow{
      margin-right: .6rem;
      font-size: 2.5rem
    }

  }








  .navdiv2mob{
    @include flexbetween();
    list-style: none;
    position: relative;
    z-index: 2;
    // overflow: hidden;




    .navdiv2linksmob{
      margin: 0 2rem;
      @include flexcenter();
      cursor: pointer;
      color: $grey;
      font-size: 2.5rem;
      font-weight: bold;

      .navarrow{
        font-size: 3.5rem;
      }
    }
    





    .cart{
      position: relative;

      .navarrow{
        font-size: 3.5rem;
        margin-right: .5rem;
      }

      .cartcount{
        position: absolute;
        top: -10%;
        left: 16%;
        text-align: center;
        line-height: 170%;
        background-color: red;
        color: $white;
        font-size: 1.4rem;
        height: 2.3rem;
        width: 2.3rem;
        border-radius: 50%;
      }

    }






  .navdiv2mob2{
      position: absolute;
      top: 120%;
      right: calc(0% - 100%);
      padding: 1.5rem 2rem;
      background-color: $white;
      box-shadow: 0px 0px 2px $greyshadow;
      border-radius: 1rem;
      transition: all 0.3s ease-out;
      min-width: 70rem;
      opacity: 0%;
      
    .navdiv2linksmob2{
      cursor: pointer;
      color: $grey;
      @include flexbetween();
      font-size: 2.8rem;
      white-space: nowrap;
      // box-shadow: 0px 1px 1px $greyshadow;
      border-bottom: 1px solid $greyshadow;
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 2rem;
      transition: all .15s linear;
      position: relative;

      &:hover{
        color: $purple;
        scale: 1.02;
      }

      &:hover::before{
        position: absolute;
        top: 15%;
        left: -.05rem;
        content: '';
        height: 70%;
        width: 100%;
        border-left: .2rem solid $purple;
      }

      .navarrow{
        // margin-left: .5rem;
        // margin-right: 2rem;
        font-size: 2.5rem;
        }
      }

      .navdiv2linksmob2submenu{
        font-size: 3.2rem;
        margin-left: 2rem;
      }

    }


  }



.poster{
  background-image: url('https://assets.hostinger.com/images/sales/summerSale2022v2/header/header-bg-xs@2x-0e4b9a7de4.png');
  color: white;
  @include flexcenter();
  flex-direction: column;
  padding-top: 11.5rem;
  padding-bottom: 5rem;
  text-align: center;

  .humansimg{
    width: 30rem;
  }

  .tagline{
    font-size: 2.5rem;
  }

  .price{
    margin-top: 1.6rem;
    font-size: 7rem;
    position: relative;
    font-family: 'podkova', sans-serif;

    &::before{
      content: '₹';
      font-size: .6em;
      position: absolute;
      top: 5%;
      left: -7%;
    }

    &::after{
      content: '/mo';
      font-size: .5em;
    }

  }

  
  .para{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    color: $white;
  }


  .time{
    margin-top: 3.5rem;
    @include flexcenter();
    // background-color: aqua;

    .days{
      margin: 0 1rem;
      @include flexbetween();
      flex-direction: column;
      // background-color: red;
      

      .daysno{
        width: 6rem;
        height: 6rem;
        background-color: $white;
        color: $grey;
        @include flexcenter();
        font-size: 4rem;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 2px $greyshadow;
      }

      .daystext{
        // text-align: center;
        margin-top: .5rem;
        font-size: 1.1rem;
      }

    }

  }


  .getstarted{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 1rem 8rem;
    border-radius: 3rem;
    color: $white;
    border: none;
    background-color: #fc5185;
    z-index: 2;
  }


  .endtextline{
    margin-top: 3.5rem;
    @include flexcenter();
    font-size: 1.7rem;

    .texticon{
      font-size: 2.5rem;
      color: rgb(0, 255, 0);
    }

  }

}


.trustsignals{
  margin: 3rem 0;
  @include flexcenter();
  .image{
    margin: 0 2rem;
  }
}



.heading{
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: $darkpurple;
  z-index: 3;
}

.para{
  font-size: 1.5rem;
  color: $grey;
  text-align: center;
}



.plan{
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(3,minmax(2rem, 1fr));
  overflow: hidden;
  border-radius: 1rem;
  grid-gap: .5rem;
  box-shadow: 0px 0px 4px $greyshadow;



  .planheading{
    grid-column: 1/-1;
    font-size: 3rem;
    background-color: $purple;
    color: white;
    text-align: center;

  }


  .planprice{
    
    @include flexcenter();
    flex-direction: column;
    border-left: 1px solid $greyshadow;
    border-right: 1px solid $greyshadow;
    padding: 1rem .5rem;

    .price{
      // margin-top: 1.6rem;
      font-size: 4rem;
      position: relative;
      font-family: 'podkova', sans-serif;
      margin-bottom: .5rem;
      
  
      &::before{
        content: '₹';
        font-size: .6em;
        position: absolute;
        top: 5%;
        left: -7%;
      }
  
      &::after{
        content: '/mo';
        font-size: .5em;
      }
  
    }


    .select{
      margin-top: 1rem;
      background-color: $purple;
      color: $white;
      font-size: 1.5rem;
      padding: .5rem 3.5rem;
      border-radius: 2rem;
    }
    

  }


  .plandetails{
    font-size: 1.8rem;
    padding: 1rem .5rem;
    // place-self: center;

    p{

      justify-content: flex-start;
      .planicon{
        font-size: 1.6rem;
        transform: translateY(12%);
      }

      .planicontick{
        color: rgb(8, 211, 8);
        font-size: large;
      }

    };


  }

}


.services{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
  grid-gap: 1.5rem 1rem;
  place-content: center;
  padding: 2rem;

  .service{
    @include flexcenter();
    justify-content: flex-start;
    font-size: 2.2rem;
    color: $darkpurple;
    font-weight: bold;
  }

}



.searchdiv{
  @include flexcenter();
  flex-direction: column;
  background-color: #F4F5FF;
  box-sizing: border-box;
  padding: 8rem;

  .para{
    margin-top: 1.5rem;
  }



  .searchboxdiv{
    

    input{
      margin-top: 3rem;
      padding: 1rem;
      border-radius: 2rem;
      border: none;
      box-shadow: 0px 0px 4px $greyshadow;
      font-size: 1.8rem;
      width: 32rem;
      // display: block;
      display: block;
      text-align: center;
    }

    .search{
      margin-top: 2rem;
      font-size: 1.8rem;
      padding: 1rem 4rem;
      color: $white;
      background-color: $greyshadow;
      border-radius: 3rem;
      width: 100%;
      transition: all .3s linear;
    }

  }

}




.companies{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,auto));
  grid-auto-rows: .5fr;
  // grid-gap: 10rem;
  column-gap: 10rem;
  row-gap: 6rem;
  place-content: center;
  place-items: center;
  overflow: hidden;
  
}





.setup{
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(40rem,auto));
  grid-template-columns: repeat(2,1fr);
  place-items: center;
  border-radius: 2rem;
  grid-gap: 6rem;



  .setupdiv1{
    .setuppara{
      font-size: 1.5rem;
      color: $greyshadow;
      opacity: 60%;
      font-weight: bold;
    }

    .heading{
      margin-top: 1rem;
      text-align: left;
      font-size: 3rem;
      font-weight: bold;
    }

    .para{
      margin-top: 1rem;
      text-align: left;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }

    a{
      font-size: 1.6rem;
    }

  }

  .setupdiv2{
    width: 100%;
    height: 100%;
  }


  .setupdiv22{
    @include flexcenter();
  }

}




.guarantee{
  @include flexcenter();
  flex-direction: column;
  .para{
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .started{
    margin-top: 3.5rem;
    padding: 1rem 3rem;
    background-color: $purple;
    color: white;
    font-size: 3rem;
    border-radius: 3rem;
  }
}










footer{
  margin-top: auto;

  .footerdivs{
    background-color: #F4F5FF;
    display: grid;
    grid-template-areas: 
    "footerdiv1 hosting domain information company"
    "footerdiv1 hosting domain information help"
    "footerdiv1 hosting domain legal socialmedia"
    ;

    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    padding: 8rem 4rem;


    a{
      white-space: nowrap;
      font-size: 1.5rem;
      color: $darkpurple;
      text-decoration: none;
      font-weight: bold;
    }


  .footerdiv1{
    grid-area: footerdiv1;

    .footerdiv1img{
      width: 20rem;
    }
    .para{
      font-size: 1.7rem;
      text-align: left;
      // margin-top: .5rem;
    }
    .para:nth-child(3){
      margin-top: 1rem;
    }

    .paymentcards{
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }


  .footerdiv2{
    .footersubheading{
      font-size: 2rem;
      color: $darkpurple;
      font-weight: bold;
      position: sticky;
      top: 0;
      letter-spacing: .1em;
      margin-bottom: 1rem;
    }
    a{
      text-decoration: none;
      font-size: 1.6rem;
      display: block;
      margin-top: 1rem;
      // font-weight: 500;
      opacity: 70%;

      &:hover{
        opacity: 100%;
      }

    }
  }


  .hosting{
    grid-area: hosting;
  }

  .domain{
    grid-area: domain;
  }

  .information{
    grid-area: information;
  }

  .help{
    grid-area: help;
  }

  .company{
    grid-area: company;
  }

  .legal{
    grid-area: legal;
  }

  .socialmedia{
    grid-area: socialmedia;
    img:hover{
      cursor: pointer;
    }
  }


}




  .footerendline{
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: $black;
  color: $white;
  
  .hearticon{
    font-size: 2.5rem;
    transform: translateY(.4rem);
    animation: heartanimation .2s linear infinite;
    color: red;
  }

  a{
    color: white;
    text-decoration: none;
  }


  .socialmediapersonal{
    padding-top: .8rem;
    border-radius: 2rem;
    width: 20rem;
    margin: 0 auto;
    margin-top: .9rem;
    background-color:#F4F5FF;
    cursor: pointer;

  }


}

}

@keyframes heartanimation {
  0%{   
      scale: 1;
  }
  50%{ 
      scale: .8;
      color: white;
  }
  100%{
      scale: 1; 
  }
}

